header {
    margin: 0 auto;
    text-align: center;
    padding-top: 300px;
    padding-bottom: 125px;
    background-color: #64B6AC;
}

header h1 {
    margin: 0;
    font-size: 8rem;
    color: #FEE9E1;
    border-style: solid;
    margin-left: 350px;
    margin-right: 350px;
}

header p {
    font-weight: 700;
    font-size: 1.75rem;
    color: #FEE9E1;
    margin-bottom: 30px;
    margin-top: 5px;
    margin-left: 350px;
    margin-right: 350px;
}

header a {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
    font-weight: 700;
    background-color: #1d809f;
    border-color: #1d809f;
    color: #fff;
    padding: 1.25rem 2.5rem;
    text-decoration: none;
    border-radius: .25rem;
    display: inline-block;
}