
nav {
    display: flex;
    justify-content: space-between;
    background-color: #64B6AC;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    border-top: 10px solid black;
    border-bottom: 3px solid black;
}

.logo {
    font-size: 30px;
    color: #FEE9E1;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 8px;
}

nav ul li a {
    text-decoration: none;
    color: #FEE9E1;
}