.projectDisplay {
    text-align: center;
}

.projectDisplay h4 {
    margin-bottom: 20px;
    font-weight: 800;
    line-height: 1.5;
    font-size: 70px;
    text-align: center;
    border-style: solid;
    margin-left: 650px;
    margin-right: 650px;
    background-color: rgba(255, 255, 255, 0.25);
}

.projectDisplay p {
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    color: #312F2F;
}

.projectDisplay > .project1 {
    background: #F78764;
}

.projectDisplay > .project2 {
    background: #F4D35E;
}

.projectDisplay > .project3 {
    background: #EBEBD3;
}

.projectDisplay > .project4 {
    background: #F78764;
}

.projectDisplay > .project5 {
    background: rgb(201, 113, 135);
}

.projectDisplay > h4 {
    color: #202040;
    padding-bottom: 50px;
}

.projectDisplay > p {
    color: #543864;
    padding-bottom: 10px;
}

.frame {
    border-style: solid;
    padding-bottom: 40px;
}

.projectDisplay img {
    margin-top: 100px;
}

.projectDisplay iframe {
    margin-top: 100px;
}